.connect-wallet-button {
  height: 45px;
  border: 0;
  width: 100%;
  margin: 4px 0px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #3d3e3e;
}

.message-card {
  background-color: #ebebeb;
  border-radius: 10px;
  color: #3d3e3e;
  padding: 12px 8px;
}

.message-text {
  margin: 4px;
}